<p>Buyle Buitendouche Luna zonder vlonder is uit te breiden met de&nbsp;onderstaande opties:</p>
<p>In het menu hierboven kunt u dit desgewenst aanvinken.</p>
<div class="product-desc">
	<div class="row-title">
		<div class="title-col">
			<div class="title"><div class="border-bottom-title">Extra Optie</div></div>
			<div class="title"><div class="border-bottom-title">Omschrijving</div></div>
			<div class="title"><div class="border-bottom-title">Meerprijs</div></div>
			<div class="title"><div class="border-bottom-title">Afbeelding</div></div>
		</div>
		<div class="clear"></div>
	</div>
		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Grohe kraan</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>De standaard douchekraan is te vervangen door deze luxe kwaliteits kraan van Grohe.</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 29,00</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/Grohe_kraan_nieuw.jpg"}}" alt="" />
				</div>
			</div>
		</div>
		
		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Lage aansluiting</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>	
Hierdoor wordt het mogelijk, om bijvoorbeeld de tuinslang lager aan te sluiten onderaan de paal. (minder in het zicht)</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 29,00</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/achteraansluiting_laag.jpg"}}" alt="" />
				</div>
			</div>
		</div>
		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Paaldikte</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>	
Standaard paaldikte is 60 x 60
Te verangen door een paal van 80 x80</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 46,41</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/paaldikte.jpg"}}" alt="" />
				</div>
			</div>
		</div>
		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Regendouche</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>De kleine douchekop hoort bij de standaard uitvoering.

De regendouche is een extra optie en heeft een doorsnede van 20 cm.</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 69,00</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/Regendouche.jpg"}}" alt="" />
				</div>
			</div>
		</div>

		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>RVS Paalhouder 15 cm hoog</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>Paalhouder compleet van RVS. Erg duurzaam en mooi afgewerkt !
Mogelijk voor:

- standaard paal


- dikke paal 80 x 80</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 58,31<br />€ 70,21</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/RVSvoet_laag.jpg"}}" alt="" />
				</div>
			</div>
		</div>

		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Voetenkraan</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>De voetenkraan kan geleverd worden met een gardena aansluiting, zodat
het mogelijk is, om hierop een 
tuinslang aan te sluiten.</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 79,00</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/RVSvoet_hoog.jpg"}}" alt="" />
				</div>
			</div>
		</div>

    		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Voetenkraan</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>De voetenkraan kan geleverd worden met een gardena aansluiting, zodat
het mogelijk is, om hierop een 
tuinslang aan te sluiten. </p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 79,00</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/Voetenkraan.jpg"}}" alt="" />
				</div>
			</div>
		</div>
		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Warmwater mengautomaat</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>Warm en koud water wordt apart aangevoerd dmv bijvoorbeeld een koperen 
buis 15 mm, of tuinslang. Door een draai aan de zwarte knop stelt u de temperatuur in.
Dankzij deze automaat hoeft er geen mengkraan te worden geïnstalleerd.
Hierdoor blijft het uiterlijk van de douche hetzelfde.
Prijs is ex. Gardena koppelingen!</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 89,00</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/Warmwater_automaat.jpg"}}" alt="" />
				</div>
			</div>
		</div>

		<div class="row-buyle">
			<div class="col">
				<div class="option option-title">
					<p>Waterreservoir</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-description">
					<p>Met deze slangenhaspel creëert u de ideale manier, om leidingwater snel door opwarming van de zon op temperatuur te krijgen.
Op de rol neemt het weinig ruimte in.
Verkrijgbaar op rol van 50 meter of 100 meter. 
Direct aan te koppelen op uw tuinslang !</p>
				</div>
			</div>

			<div class="col">
				<div class="option option-price">
					<p>€ 52,00<br />€ 99,00</p>
				</div>
			</div>
			<div class="col">
				<div class="option option-image">
					<img src="{{media url="wysiwyg/Opties/Buitendouche/Waterreservoir.jpg"}}" alt="" />
				</div>
			</div>
		</div>
</div>


